/*Navigation*/

#navbar{
    flex-direction:column;
}

#navbar ul li a{
    font-size:1rem;
    padding:0px 7px;
    padding-bottom: 8px;
}
/* home Section */
#home{
    height:370px;
    padding:3px 38px;
    
}
#home::before{
    height:500px;
}
#home p{
    font-size:13px;
}
/* Services section */
#services{
    flex-direction:column;
}
#services .box{ 
    padding:14px;
    margin:2px 1px;
    margin-bottom:20px;
}
#services .box img{
    height:149px;
    width:180px; 
    /* width:auto; */
    display:block;

}


/* client Section */

#clients{
    flex-wrap:wrap;
}

#clients img{
    width: 60px;
    padding:56px;
}

/* contact us Section */

#contact-box form{
    width:80%;
}

/*footer */


/*Utitlity classes */
.h-primary{
    font-size:26px;
}
.btn{
    font-size:13px;
    padding:4px 8px;
}